.icon-component {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon {
  &--brand {
    color: $color-brand;
  }

  &--white {
    color: #fff;
  }

  &--big {
    font-size: 48px;
  }
}