.price {
  position: relative;
  background-color: $bg-secondary;
  padding-bottom: 130px;

  &-header {
    text-align: center;
  }

  &-content {
    text-align: center;
  }

  &-cards {
    display: none;

    @media(min-width: $screen-md) {
      display: flex;
      gap: 20px;
    }
  }

  &-slider {
    @media(min-width: $screen-md) {
      display: none;
    }

    &__item {
      width: 96% !important;
      max-width: 450px;
    }

    &-btn {
      top: unset;
      bottom: -120px;
    }
  }

  &-btn {
    display: none;
    margin: 46px auto 0;

    @media(min-width: $screen-md) {
      display: block;
    }
  }
}