<section class="price">
    <div class="container">
        <div class="price-content">
            <div class="price-header">
                <h2 class="title price-header__title">Стоимость аренды</h2>
                <p class="txt price-header__descr">Вместимость комнаты от 2 до 35 человек</p>
            </div>
            <div class="price-cards">
                {{> price-card
                    days="ПН-ЧТ"
                    price-1="35 руб"
                    price-2="35 руб"
                    time-1="08:00 - 17:00"
                    time-2="08:00 - 17:00"
                    hour-1="1h"
                    hour-2="1h"
                    descr="*при бронировании комнаты на 3 часа, 4-ый час"
                    strongText="БЕСПЛАТНО"
                }}
                {{> price-card
                    days="ПТ-СБ"
                    price-1="50 руб"
                    price-2="60 руб"
                    time-1="08:00 - 17:00"
                    time-2="08:00 - 17:00"
                    hour-1="1h"
                    hour-2="1h"
                    descr="*при бронировании комнаты на 5 часа, 6-ый час"
                    strongText="БЕСПЛАТНО"
                }}
                {{> price-card
                    days="Воскресенье"
                    price-1="45 руб"
                    price-2="55 руб"
                    time-1="08:00 - 17:00"
                    time-2="08:00 - 17:00"
                    hour-1="1h"
                    hour-2="1h"
                    descr="*при бронировании комнаты на 4 часа, 5-ый час"
                    strongText="БЕСПЛАТНО"
                }}
            </div>
            <div class="price-slider">
                <div class="swiper-container">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide price-slider__item">
                            {{> price-card
                                    days="ПН-ЧТ"
                                    price-1="35 руб"
                                    price-2="35 руб"
                                    time-1="08:00 - 17:00"
                                    time-2="08:00 - 17:00"
                                    hour-1="1h"
                                    hour-2="1h"
                                    descr="*при бронировании комнаты на 3 часа, 4-ый час"
                                    strongText="БЕСПЛАТНО"
                            }}
                        </div>
                        <div class="swiper-slide price-slider__item">
                            {{> price-card
                                    days="ПТ-СБ"
                                    price-1="50 руб"
                                    price-2="60 руб"
                                    time-1="08:00 - 17:00"
                                    time-2="08:00 - 17:00"
                                    hour-1="1h"
                                    hour-2="1h"
                                    descr="*при бронировании комнаты на 5 часа, 6-ый час"
                                    strongText="БЕСПЛАТНО"
                            }}
                        </div>
                        <div class="swiper-slide price-slider__item">
                            {{> price-card
                                    days="Воскресенье"
                                    price-1="45 руб"
                                    price-2="55 руб"
                                    time-1="08:00 - 17:00"
                                    time-2="08:00 - 17:00"
                                    hour-1="1h"
                                    hour-2="1h"
                                    descr="*при бронировании комнаты на 4 часа, 5-ый час"
                                    strongText="БЕСПЛАТНО"
                            }}
                        </div>
                    </div>
                    <div class="price-slider-btn swiper-btn swiper-btn-prev">{{> font-icon class="icon--brand icon--big" name="arrow-left"}}</div>
                    <div class="price-slider-btn swiper-btn swiper-btn-next">{{> font-icon class="icon--brand icon--big" name="arrow-right"}}</div>
                </div>
            </div>
            {{> button class="price-btn" text="забронировать"}}
        </div>
    </div>
</section>