<section class="main white-txt" id="main" style="background: url({{bgSrc}}) no-repeat center/cover">
    <div class="container">
        <div class="main-content">
            <h1 class="heading main__title anim-elem anim-left">{{title}}</h1>
            <p class="txt main__descr anim-elem anim-left">{{descr}}</p>
            {{> button class="main__btn open-modal anim-elem anim-up" text="Забронировать" modalName="booking-modal"}}
        </div>
    </div>
</section>