<section class="main white-txt" id="main" style="background: url({{bgSrc}}) no-repeat center/cover">
    <div class="container">
        <div class="main-content">
            <h1 class="heading main__title animation-element">{{title}}</h1>
            <p class="txt main__descr animation-element">{{descr}}</p>
            {{> button class="main__btn open-modal animation-element" text="Забронировать" modalName="booking-modal"}}
        </div>
    </div>
</section>