<section class="main" id="main">
    <div class="container">
        <div class="main-content">
            <h1 class="heading main__title white-txt">A{{title}}</h1>
            <p class="txt main__descr white-txt">{{descr}}</p>
            {{> button class="main__btn" text="Забронировать"}}
        </div>
    </div>
</section>