<div class="awesome">
    <div class="modal">
        <div class="modal-back"></div>
        <div class="modal__window">
            <div class="modal__window--close">
                <span>X</span>
            </div>
            <p>Сообщение отправлено</p>
        </div>
    </div>
    <div class="container">
        <div class="awesome__form">
            <form action="" onsubmit="return false">
                <div class="awesome__form--title">
                    <h2>ФОРМА С КНОПКОЙ</h2>
                </div>
                <div class="awesome__form--body">
                    <div class="awesome__form--description">
                        <p> ОСТАВЬ ТЕЛЕФОН И ПОЛУЧИ ЧТО-ТО ОФИГЕННОЕ</p>
                    </div>
                    <div class="awesome__form--phoneInput">
                        <div class="awesome__form--tel">
                            <input class="awesome--tel-input" type="tel" name="phone"
                                pattern="^(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){7,12}(\s*)?$"
                                placeholder="Введите номер" required>
                        </div>
                        <div class="awesome__form--submit">
                            <button type="submit">Получить</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>