<header class="header">
    <div class="container">
        <div class="header-flex">
            <div class="header__logo">
                <div class="header__logo--img">
                    <img src="img/header/logo.png" alt="Название компании">
                </div>
            </div>
            <div class="header__phoneNumber">
                <div class="header__phoneNumber--link">
                    <a href="tel:+7(499)7777777">+7(499)777-77-77</a>
                </div>
                <div class="header__phoneNumber--link">
                    <a href="tel:+7(499)7777777">+7(499)777-77-77</a>
                </div>
            </div>
        </div>
    </div>
</header>