<div class="slider">
    <div class="container">
        <div class="slider__title">
            <h2>ТУТ У НАС СЛАЙДЕР</h2>
        </div>
        <div class="slider__slick">
            <div class="slider__slick--frame">
                <div class="slider__slick--item">
                    <img src="img/slider/slide_1.png" alt="">
                </div>
                <div class="slider__slick--item">
                    <img src="img/slider/slide_2.png" alt="">
                </div>
                <div class="slider__slick--item">
                    <img src="img/slider/slide_3.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>