.anim-elem {
  opacity: 0;
}

.anim-elem.in-view {
  animation: fade-in-up 1s cubic-bezier(0.535, 1.650, 0.315, 0.995) 0.3s both;
}

.anim-right.in-view {
  animation: fade-in-right 1s cubic-bezier(0.535, 1.650, 0.315, 0.995) 0.3s both;
}

.anim-left.in-view {
  animation: fade-in-left 1s cubic-bezier(0.535, 1.650, 0.315, 0.995) 0.3s both;
}

@keyframes fade-in-up {
  from { opacity: 0; transform: translate3d(0, 40px, 0); }
  to { opacity: 1; transform: none; }
}

@keyframes fade-in-right {
  from { opacity: 0; transform: translate3d(40px, 0, 0); }
  to { opacity: 1; transform: none; }
}

@keyframes fade-in-left {
  from { opacity: 0; transform: translate3d(-40px, 0, 0); }
  to { opacity: 1; transform: none; }
}