.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(300px, 18.75rem, 604px);
  max-height: 85vh;
  margin: 0 auto;
  padding: 30px 16px 32px;
  background-color: $bg-primary;
  transition: opacity $transition;
  overflow-y: auto;
  z-index: 1001;

  @media(min-width: $screen-md) {
    padding: 56px 32px 64px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 365px;
    margin: 0 auto;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
  }

  & .close-modal {
    position: absolute;
    right: 16px;
    top: 16px;
    font-size: clamp(12px, 0.8rem, 24px);
    filter: invert(50%) sepia(15%) saturate(405%) hue-rotate(148deg) brightness(89%) contrast(87%);
    cursor: pointer;
    transition: filter $transition;

    &:hover {
      filter: invert(16%) sepia(3%) saturate(26%) hue-rotate(352deg) brightness(91%) contrast(74%);
    }

    @media(min-width: $screen-md) {
      right: 32px;
      top: 32px;
    }
  }

  & form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 362px;
    margin-top: clamp(16px, 2rem, 32px);
  }

  & button {
    margin-top: 16px;
    min-width: 176px;
  }

  & p {
    margin-top: clamp(16px, 1rem, 32px);
    text-align: center;
  }

  & .no-margin {
    margin: 0 !important;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  background: rgba(#000, 50%);
  backdrop-filter: blur(3px);
  opacity: 1;
  pointer-events: auto;
  transition: opacity $transition;
  touch-action: none;
  z-index: 1000;
}

.fade-in {
  opacity: 1;
}