$icomoon-font-family: "font-icons" !default;
$icomoon-font-path: "fonts" !default;
$font-icons--arrow-right: "\e900";
$font-icons--arrow-left: "\e901";
$font-icons--close: "\e902";
$font-icons--location: "\e903";
$font-icons--logo: "\e904";
$font-icons--menu: "\e905";
$font-icons--person: "\e906";
$font-icons--phone: "\e907";

