<div class="admin-nav">
    <a class="admin-nav__item" href="/asd">Личные данные</a>
    <a class="admin-nav__item" href="/s">Бонусы</a>
    <a class="admin-nav__item" href="/">Ссылка приглашение</a>
</div>