<section class="social">
    <div class="container">
        <div class="social-content">
            <div class="social-images">
                <img class="social-images__item" src="/images/social/phone-1.png" alt="">
                <img class="social-images__item" src="/images/social/phone-2.png" alt="">
            </div>
            <div class="social-header">
                <h2 class="title">Мы в Instagram</h2>
                <p class="txt">Мы активно ведем свой профиль в инстаграмм. В комментариях вы найдете самые правдивые отзывы наших любимых клиентов.
                    Подписывайтесь на нас, чтобы следить за нашими новосятми и обновлениями. Мы работаем для того, чтобы радовать вас.
                </p>
                {{> link class="btn btn--inst social-btn" href="/" text="Подписаться"}}
            </div>
        </div>
    </div>
</section>