.about {
  padding-top: clamp(32px, 2rem, 180px);
  text-align: center;

  &-wrapper {
    @media(min-width: $screen-md) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }
  }

  &-text {
    @media(min-width: $screen-md) {
      max-width: 475px;
      text-align: left;
    }
  }

  &__btn {
    margin: 0 auto;
    text-decoration: unset;
    color: $text-color-primary;

    @media(min-width: $screen-md) {
      margin: 0;
    }
  }

  &-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 32px;

    @media(min-width: $screen-md) {
      width: 50%;
      margin: 0;
      gap: 20px;
    }

    &-wrapper {
      display: flex;
      gap: 10px;

      @media(min-width: $screen-md) {
        flex-direction: column;
        gap: 20px;
        transform: translateY(-5%);

        &:last-of-type {
          transform: translateY(5%);
        }
      }
    }

    &__item {
      @media(min-width: $screen-md) {
        background-color: red;
      }
    }
  }

  &-description {
    margin-top: 16px;

    @media(min-width: $screen-md) {
      margin-top: 32px;
      text-align: left;
    }

    &-content {
      @media(min-width: $screen-md) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        gap: 46px;
      }
    }

    &-separator {
      display: block;
      margin-top: 16px;

      @media(min-width: $screen-md) {
        margin-top: 32px;
      }
    }
  }
}