<section class="about" id="about">
    <div class="container">
        <div class="about-wrapper">
            <div class="about-text">
                {{> breadcrumbs}}
                <h2 class="title about__title">Богдановича 78</h2>
                <p class="txt about__descr">
                    Мы дружая команда, которая создала пространство для отдыха и проведения мероприятий. Назвали мы наше пространство “Комната”.
                </p>
                <p class="txt about__descr">
                    Для нас очень важно воссоздать домашнюю атмосферу, в которой так приятно провести время
                    с друзьями, родственниками, коллегами, и просто единомышленниками. Мы дружая команда, которая создала пространство для отдыха и проведения мероприятий. Назвали мы наше пространство “Комната”.
                </p>
                <p class="txt about__descr">
                    Почитать отзывы наших любимых клиентов вы можете по {{> link href="/" text="ссылке"}}
                </p>
                {{> button class="about__btn open-modal" text="Забронировать" modalName="booking-modal"}}
            </div>
            <div class="about-cards">
                <div class="about-cards-wrapper">
                    {{> img-card class="about-cards__item" title="100" additional="M2" descr="Пространство" bgSrc="images/img-cards/card-1.jpg"}}
                    {{> img-card class="about-cards__item" title="24/7" descr="Круглые сутки" bgSrc="images/img-cards/card-1.jpg"}}
                </div>
                <div class="about-cards-wrapper">
                    {{> img-card class="about-cards__item" title="35" additional="чел" descr="Вместимость" bgSrc="images/img-cards/card-1.jpg"}}
                    {{> img-card class="about-cards__item" title="ПН-ВС"  descr="Без выходных" bgSrc="images/img-cards/card-1.jpg"}}
                </div>
            </div>
        </div>
        <div class="about-description">
            <h3 class="subtitle">Предыстория</h3>
            <div class="about-description-content">
                <p class="txt">
                    Мы дружая команда, которая создала пространство для отдыха и проведения мероприятий. Назвали мы наше пространство “Комната”.
                    <span class="about-description-separator"></span>
                    Для нас очень важно воссоздать домашнюю атмосферу, в которой так приятно провести время
                    с друзьями, родственниками, коллегами, и просто единомышленниками.
                </p>
                <p class="txt">
                    Мы дружая команда, которая создала пространство для отдыха и проведения мероприятий. Назвали мы наше пространство “Комната”.  Для нас очень важно воссоздать домашнюю атмосферу, в которой так приятно провести время с друзьями, родственниками, коллегами, и просто
                </p>
            </div>
        </div>
    </div>
</section>