.price-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 45px 25px;
  text-align: center;
  background: $bg-thrid;
  border-radius: 10px;

  @media(min-width: $screen-md) {
    padding: 46px 36px 66px;
  }

  &__days {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    height: 35px;
    padding: 0 10px;
    margin-bottom: 50px;
    background-color: $text-color-secondary;
    border-radius: 30px;

    & > p {
      margin: 0;
    }
  }

  &__time {
    text-align: center;

    & > p {
      margin: 0;
    }

    &:last-of-type {
      margin-top: 30px;
    }

    &-cost {
      font-size: 32px;
      font-weight: 700;

      & > span {
        font-size: clamp(14px, 0.8rem, 20px);
        font-weight: 300;
      }
    }

    &-range {
      margin-top: 5px !important;
      font-size: 18px;
    }
  }

  &__descr {
    margin: 50px 0 0;
  }

  &__btn {
    margin-top: 32px;

    @media(min-width: $screen-md) {
      display: none;
    }
  }
}