.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    text-decoration: none;
    color: $color-brand;
  }

  &-text {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }
}