<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
</head>
<body>
    {{> header}}
    {{> main
        title="тмосфера, которую хочется разделить с близкими"
        descr="День рождения, Новый год, корпоратив, мальчишник, девичник, помолвка, а также любое самое приятное событие в вашей жизни, которое вы можете провести у нас в Комнате №1 на Богдановича 78 или Комнате №2 на Козлова 22"
    }}
    {{> about}}
    {{> rooms}}
    {{> interested}}
    {{> price}}
    {{> contact}}
    {{> social}}
    {{> footer}}
    {{> registration-modal}}
</body>
</html>
