@import "functions";

//--------------------------------------
// Fonts
//--------------------------------------

$myriadSemiBold_24: 600 1rem "MyriadPro";
$myriadSemiBold_22: 600 0.916rem "MyriadPro";
$myriadSemiBold-It_22: 600 0.916rem "MyriadPro-It";
$myriadReg_14: 400 0.583rem "MyriadPro";
$myriadReg_18: 400 0.75rem "MyriadPro";
$myriadReg_18-5: 400 0.77rem "MyriadPro";
$myriadReg_20-5: 400 0.854rem "MyriadPro";
$myriadReg_24: 400 1rem "MyriadPro";
$myriadReg_33-5: 400 1.395rem "MyriadPro";
$myriadReg_40: 400 1.666rem "MyriadPro";
$myriadBold_14: 700 0.583rem "MyriadPro";
$myriadBold_20: 700 0.833rem "MyriadPro";
$myriadBold_30: 700 1.25rem "MyriadPro";
$myriadBold_44-5: 700 1.854rem "MyriadPro";

//--------------------------------------
// Primary Colors
//--------------------------------------

$colorLightOrange: #ffc087;
$colorLightBlue: #9da3d7;

//--------------------------------------
// Padding/margin
//--------------------------------------

//--------------------------------------
// Metrics
//--------------------------------------
