<header class="header" id="header">
    <div class="header-content">
        {{> logo logoIcon="logo" class="header__logo" logoText="Комната"}}
        <div class="header-burger">
            {{> font-icon name="menu" class="icon--white header-burger__open"}}
            {{> font-icon name="close" class="header-burger__close"}}
        </div>
        <nav class="header-nav">
            <ul class="header-nav-list">
                <li class="header-nav__item">{{> link class="header-nav__link link--white" href="/room-1.html" text="Комната №1"}}</li>
                <li class="header-nav__item">{{> link class="header-nav__link link--white" href="#" text="Комната №2"}}</li>
                <li class="header-nav__item">{{> link class="header-nav__link link--white" href="#" text="Цены"}}</li>
                <li class="header-nav__item">{{> link class="header-nav__link link--white" href="#" text="Контакты"}}</li>
                <li class="header-nav__item">
                    {{> font-icon class="header-nav__icon icon--white" name="person"}}
                    {{> link class="header-nav__link link--white" href="#" text="Вход"}}
                </li>
                <li class="header-nav__item">{{> link class="header-nav__link link--white" href="tel:+375293615587" text="+375 (29) 361 55 87"}}</li>
            </ul>
            {{> button class="btn--trans header-nav__btn" text="Забронировать"}}
        </nav>
    </div>
</header>